:root{
    --celeste: #1259c3;
    --amarillo: #EAC926;
    --azul: #03264C;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --verde: #39b54a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:var(--amarillo);
    font-size: 12px;
    line-height: 20px;
}
.header_CompraCuota{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header_logo{
    display: flex;
    flex-direction: row;

    justify-content: center;
}
.img_logo{
    flex-grow: 0.50;
}
.header_buscador{
    flex-grow: 0.50;
    border-radius: 25%;
}
.header_Items li a{
    color: black;
    text-decoration: none;
}
.banner_Image{
    background-image: url("../img/img-home-banner.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
}
main{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--gris_claro);
}
.seccion_Main{
    display: flex;
    flex-direction: column;
    border: 1px dashed red;
    width: 90vw;
    margin-left: 5%;
    align-items: center;
    text-align: center;
}
.main_Title{
    font-size: 24px;
    line-height: 32px;
}
.articulos{
    display: flex;
    flex-direction: row;
}
.main_Article{
    width: 200px;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.article_Image{
    height: 70%;
    width: 70%;
}
.article_Descripcion{
    display: flex;
    flex-direction: column;
    margin-inline: 15px;
    border-top: 1px solid #ebebeb;
}
.article_Precio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main_Precios{
    flex-grow: 0.30;
    font-size: 18px;
    line-height: 26px;
}
.main_Descuentos{
    display: flex;
    flex-grow: 0.70;
    font-size: 16px;
    line-height: 24px;
}
.main_Descripcion{
    font-size: 16px;
    line-height: 24px;
}
@media (max-width: 425px){
    .main_Descripcion{
        display: none;
    }
    .article_Image{
        height: 70%;
        width: 70%;
    }
    .header_Items{
        display: none;
    }
    .burger-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--gris_claro);   
    }
    .fas{
        background-size:cover ;
        background-color: var(--celeste);
        border-radius: 15%;
        padding: 5px;
    }
    .articulos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media (max-width: 769px){
    .articulos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }
    .header_logo{
        display: flex;
        flex-direction: row;
    
        justify-content: center;
    }
    .img_logo{
        flex-grow: 0.50;
    }
    .header_buscador{
        flex-grow: 0.50;
        border-radius: 25%;
    }
}
/*@media (min-width: 361px) {
    .burger-menu{
        display: none;
    }
    .main_Descripcion{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main_Article
    {
        width: 250px;
    }
}*/

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    font-size: 12px;
}
.icono_Footer{
    color: var(--celeste);
    size: 20px;
}

.seccion_footer{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 20px;
    margin: 20px;
}

/*estilo de el registro*/
.main_register{
    display: flex;
    justify-content: center;
}
.registro-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    background-color: var(--gris_claro);
    padding: 20px;
}
.perfildeUsuario{
    display: flex;
    flex-direction: row;
}
.intereses{
    display: flex;
    flex-direction: row;
}
.registro-formulario input{
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0px;
}
.boton{
    background-color: var(--celeste);
    color: var(--gris_claro);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
}

/*Estilo del login*/

.main-log{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}
.main-log input{
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
}
.botonLog{
    align-self: center;
    background-color: var(--celeste);
    color: var(--gris_claro);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px;
}

